// Here you can add other styles
.react-bs-table-search-form > input.form-control{
    height: auto;
}

// insert modal
.Form__formContainer___1GA3x {
  margin: 1% auto -25px !important;
}
.ReactModal__Content.modal-dialog {
  margin-top: 70px !important;
}
.modal-header {
  span {
    width: 100% !important;
  }
}

// spinner
.sk-wave {
  margin: 0px auto !important;
}

.input-form {
  border-top-right-radius: 1 !important;
  border-bottom-right-radius: 1 !important;
}